.suggestion-list {
    max-height: 486px;
    overflow-y: auto;
    margin-top: 15px;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    margin-top: 0;
}

ul li {
    border: 1px solid #eee;
    padding: 10px 12px;
}

.selected {
    background-color: aquamarine;
    font-weight: bold;
}
.active{
    background-color: #eee;
}